apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-namespace-config
  namespace: {{ .Release.Namespace }}
data:
  excluded_namespaces.txt: |
    # Start - Lista de namespaces para excluir dos logs
    {{- range .Values.namespaceFilter.excludedNamespaces }}
    {{ . }}
    {{- end }}
    # End - Lista de namespaces para excluir dos logs
