# Default values for ms-generic.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

app:
  version: 0.0

image:
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  repository: ""
  name: ""
  tag: ""

container:
  name: app
  port: 80
  args: []
  # args:
  #   - "--config=/etc/app/config.yaml"
  #   - "--verbose"
  extra:
    ports: []

containers:
  planList: []
  volumeMounts:
    extra:
      enabled: false
      data: []

deployment:
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate # Define a estratégia de atualização (RollingUpdate ou Recreate)
    rollingUpdate:
      maxSurge: 1 # Número máximo de pods adicionais durante a atualização (se a estratégia for RollingUpdate)
      maxUnavailable: 0 # Número máximo de pods indisponíveis durante a atualização (se a estratégia for RollingUpdate)

#resources:
#  limits:
#    cpu: 100m
#    memory: 128Mi
#  requests:
#    cpu: 100m
#    memory: 128Mi

probe:
  path: "/"
  timeoutSeconds: 10
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 3
  initialDelaySeconds: 10
  startupProbe:
    enabled: true
    path: "/"
    port: http-app
    timeoutSeconds: 10
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 30
    initialDelaySeconds: 120

serviceMonitor:
  enabled: true
  interval: 1m
  url: "/"
  port: http-app
  scheme: http
  scrapeTimeout: 30s

## não pode ter um default
imagePullSecrets:
  []
  # - name: regcred
nameOverride: ""
fullnameOverride: ""

env:
  enabled: false
  data: []
  # data:
  #   - name: NAME
  #     value: VALUE

secret:
  enabled: false
  data:
    {}
    # key: value

configMap:
  enabled: false
  data:
    {}
    # key: value
  injectFile:
    enabled: false
    itens:
      {}
      # application:
      #   name: application.yaml
      #   content: |-
      #      abc: xyz
      #   destPath: /app/application.yaml
      # application2:
      #   name: application2.yaml
      #   content: |-
      #     abc: xyz
      #   destPath: /app/application2.yaml

volumes:
  extra:
    enabled: false
    data: []
  persistentVolumeClaim:
    enabled: false
    itens: []
    #  - name: nfsData
    #    mountPath: /data
    #    claimName: nfs-data-clain
    #    existingClaim: false
    #    accessModes: ReadWriteOnce
    #    size: 5Gi
    #    storageClassName: ebs-gp3
    #    persistentVolumeReclaimPolicy: Retain

envFrom:
  existingConfigMaps:
    enabled: false
    list: []
    #  - configMapName
  existingSecrets:
    enabled: false
    list:
      []
      # - secretsName

initContainers:
  enabled: false
  waitForCmd:
    image: "paxtecnologia/net-tools:v1"
  extra: []

secretProviderClass:
  enabled: false
  list:
    []
    # provider: "type"
    # properties: []
    #   - key: "key"
    #     objectName: "objectName"
    #     objectType: "objectType"
    #   - key: "key"
    #     objectName: "objectName"
    #     objectType: "objectType"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
  extras: {}

podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80
  #nodePort: 30000
  # Permite o inject direto de configurações nas portas dos service
  extra:
    {}
    # ports:

ingress:
  enabled: false
  appendNamespace: false
  className: ""
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

httpRoute:
  enabled: false
  appendNamespace: false
  annotations: {}
  # parentRefs:
  #   - name: gateway-name
  #     namespace: istio-system
  #     sectionName: https
  # hostnames:
  #   - chart-example.local
  # rules:
  #   - matches:
  #       - path:
  #           type: PathPrefix
  #           value: /
  #     filters:
  #       - type: CORS
  #         cors:
  #           allowOrigins:
  #             - https://app.example
  #           allowCredentials: false
  #           allowMethods:
  #             - GET
  #             - POST
  #           allowHeaders:
  #             - Content-Type

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  metrics:
    resources:
      cpu:
        {}
        # utilizationPercentage: 80
      memory:
        {}
        # utilizationPercentage: 80
    pods:
      metricName: sum_http_server_requests_seconds_count_filted
      targetAverageValue: 20m
  stabilizationWindowSeconds: 300
  scaleDown:
    value: 1
    periodSeconds: 300
  scaleUp:
    value: 1
    periodSeconds: 300

nodeSelector: {}

tolerations: []

hostAliases: []

affinity: {}
# Força a troca do nome do service
# serviceFullnameOverride: nomeDoService

commonLabels: {}

calicoPolicy:
  ingress:
    enabled: false
  egress:
    enabled: false
